<a href="https://colab.research.google.com/github/akipi-ro/b/blob/master/%E5%88%86%E9%A1%9E%E5%95%8F%E9%A1%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import sklearn

In [3]:
titanic = pd.read_csv('titanic_text.csv')
titanic.head()

   PassengerId  Survived  Sex  Pclass     Fare
0            1         0    0       3   7.2500
1            3         1    1       3   7.9250
2            4         1    1       1  53.1000
3            5         0    0       3   8.0500
4            7         0    0       1  51.8625

In [0]:
y=titanic["Survived"]
x = np.array(titanic.drop(["Survived","PassengerId"],axis=1))

In [0]:
y_array = np.array(y)
x_array = np.array(x)

In [8]:
print("y_array: ", y_array.shape)
print("x_array: ", x_array.shape)

y_array:  (712,)
x_array:  (712, 3)

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train,x_test,y_train,y_test = train_test_split(x_array,y_array,test_size=0.4,random_state=0)

In [12]:
print("x_train: ", x_train.shape)
print("y_train: ", y_train.shape)
print("x_test: ", x_test.shape)
print("y_test: ", y_test.shape)

x_train:  (427, 3)
y_train:  (427,)
x_test:  (285, 3)
y_test:  (285,)

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
rfc = RandomForestClassifier(random_state=0)

In [35]:
rfc.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

学習した

In [36]:
y_pred = rfc.predict(x_test)
y_pred.shape

(285,)

In [37]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.8

In [42]:
df1= pd.read_csv("titanic_assignment_question.csv")

# y=titanic["Survived"]
x1=np.array(df1.drop("PassengerId",axis=1))
df1

     PassengerId  Sex  Pclass      Fare
0              2    1       1   71.2833
1              6    0       3    8.4583
2              9    1       3   11.1333
3             15    1       3    7.8542
4             28    0       1  263.0000
..           ...  ...     ...       ...
174          878    0       3    7.8958
175          881    1       2   26.0000
176          884    0       2   10.5000
177          888    1       1   30.0000
178          891    0       3    7.7500

[179 rows x 4 columns]

In [39]:

# y1_array =np.array(y1)
x1_array = np.array(x1)
print(x1_array.shape)
print(y_array.shape)

(179, 3)
(712,)

In [0]:
assign_pred= rfc.predict(x1_array)#rfcのなかに学習したモデルが入っている

In [44]:
assign_pred

array([1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 0])

In [0]:
pred_formatted = pd.DataFrame({"PassengerId" : df1["PassengerId"],"Survived" : assign_pred})

In [50]:
pred_formatted

     PassengerId  Suvived
0              2        1
1              6        0
2              9        1
3             15        1
4             28        0
..           ...      ...
174          878        0
175          881        1
176          884        0
177          888        1
178          891        0

[179 rows x 2 columns]

In [0]:
pred_formatted.to_csv("titanic_assignment_question.csv",index=False)