<a href="https://colab.research.google.com/github/akipi-ro/b/blob/master/%E5%9B%9E%E5%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import sklearn

In [206]:
houseprice = pd.read_csv("houseprice_text.csv")
houseprice.head()

   Id  SalePrice  OverallQual  ...  YearBuilt  KitchenQual  ExterQual
0   1     208500            7  ...       2003            2          2
1   4     140000            7  ...       1915            2          3
2   7     307000            8  ...       2004            2          2
3   8     200000            7  ...       1973            3          3
4   9     129900            7  ...       1931            3          3

[5 rows x 9 columns]

In [0]:
y = houseprice["SalePrice"]
X = houseprice.drop(["Id","SalePrice"],axis = 1)

In [0]:
y_array = np.array(y)
X_array = np.array(X)

目的変数を設定し、説明変数の余分なものを削除した

In [209]:
print(y_array.shape)
X_array.shape

(1168,)

(1168, 7)

1列はおそらく省略される
説明変数は７行ある

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train,X_test,y_train,y_test = train_test_split(X_array,y_array,test_size = 0.3,random_state =0)

In [212]:
print(X_train.shape) 
print(y_train.shape)

print(X_test.shape)
print(y_test.shape)

(817, 7)
(817,)
(351, 7)
(351,)

トレーニングデータで目的と説明変数がどちらも学習用に使われる
テストでは説明変数側が判断材料として使われ、目的変数で精度を出すために使われる

In [0]:
from sklearn.ensemble import RandomForestRegressor

In [0]:
rfr = RandomForestRegressor(random_state=0)

モデルを生成

In [215]:
rfr.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

学習した

In [216]:
y_pred = rfr.predict(X_test)
y_pred.shape

(351,)

In [217]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_pred,y_test))

39209.29968179275

目的変数トレーニングデータと目的変数テストデータを比較してどのくらいの誤差かを調べる

In [0]:
houseprice_assignment = pd.read_csv("houseprice_assignment_question.csv")

In [0]:
# y2 =houseprice_assignment["SalePrice"]
X2 =houseprice_assignment.drop(["Id"],axis = 1)

In [220]:
# y2_array = np.array(y2)
X2_array = np.array(X2)
X2_array.shape

(292, 7)

In [221]:
X2_array

array([[   6, 1262,    2, ..., 1976,    3,    3],
       [   7, 1786,    2, ..., 2001,    2,    2],
       [   8, 2198,    3, ..., 2000,    2,    2],
       ...,
       [   6, 1440,    2, ..., 1981,    2,    2],
       [   5, 1792,    0, ..., 1974,    3,    3],
       [   5, 1072,    2, ..., 2005,    3,    3]])

In [222]:
y2_pred =rfr.predict(X2_array)
y2_pred.shape

(292,)

In [0]:
pread_fomat =pd.DataFrame({"Id" : houseprice_assignment["Id"],"SalePrice" : y2_pred})

In [224]:
pread_fomat

       Id      SalePrice
0       2  157611.850000
1       3  218321.750000
2       5  326302.720000
3       6  165433.250000
4      10  102769.450000
..    ...            ...
287  1416  198032.340000
288  1428  142652.000000
289  1430  174729.925000
290  1451  150182.370000
291  1453  151308.166667

[292 rows x 2 columns]

In [0]:
pread_fomat.to_csv("A.csv",index=False)

In [0]:
# np.sqrt(mean_squared_error(y_pred,yte))

In [227]:
pread_fomat.head()

   Id  SalePrice
0   2  157611.85
1   3  218321.75
2   5  326302.72
3   6  165433.25
4  10  102769.45